.carousel {
    position: relative;
    width: 60%;
    height: 70%;
    margin-top: 20%;
}

.carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 1s ease;
    background-size: cover;
    background-position: center;
}

.carousel-image.active {
    opacity: 1;
}