/* Header.css */
.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    z-index: 2;
    border-bottom: 1px solid lightgray;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 3vw;
    height: 3vw;
}

.text {
    font-size: 16px;
    color: var(--color);
}

.body {
    display: flex;
}

.coursesJourney {
    height: 100vh;
    width: 50%;
}

.pub {
    height: 100vh;
    background-color: red;
    width: 25%;
}

/* .body {
    display: flex;
    flex-direction: column;
} */

/* .journey {

} */

.coursesButton {
    border-radius: 50%;
}

.coursesButtonFront {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    filter:saturate(0); /*play with the saturation to say if the stage is completed*/
}

@media (max-width: 880px) {
    .pub {
        display: none;
    }

    .coursesJourney {
        height: 100vh;
        width: 100%;
    }

    .icon {
        width: 5vw;
        height: 5vw;
    }
}