.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 30%;
    padding: 10px 0;
    border-top: 1px solid lightgray;
}

.navButton {
    background-color: var(--color);
    border: none;
    border-radius: 12px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navButton:hover {
    background-color: var(--hover-color);
    transform: translateY(-3px);
}

.navButton.active {
    background-color: var(--bottom-color);
}

.navIcon {
    width: 3vw;
    height: 3vw;
}

@media (max-width: 880px) {
    .navBar {
        width: 100%;
    }

    .navIcon {
        width: 5vw;
        height: 5vw;
    }
}