@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}

:root {
    /* Main Colors */
    --color-background: #131f24;
    --color-background-footer-courses: #202f36;
    --color-primary: #58CC02;
    --color-primary-shadow: #46a001;
    --color-primary-dark: #79b933;
    --color-primary-hover: #A9DC5C;
    --color-success: #4CAF50;
    --color-error: #ee5555;
    --color-error-shadow: #d84848;
    --color-error-hover: #FF6B6B;

    /* courses colors */
    --color-primary-courses: #93d333;
    
    /* Text Colors */
    --color-text: #ffffff;
    --color-text-dark: #37464f;
    
    /* UI Colors */
    --color-border: #37464f;
    --color-button-bg: #1f2937;
    --color-overlay: rgba(255, 255, 255, 0.1);
    --color-overlay-hover: rgba(255, 255, 255, 0.15);

    /* Navbar Colors */
    --color-streak: #FFD700;
    --color-gems: #84D8FF;
    --color-hearts: #FF6B6B;

    /* Blue Colors */
    --color-blue: #1cb0f6;
    --color-blue-shadow: #1899d6;
    --color-text-blue: #52656d;
}

.pushable {
    background: var(--bottom-color);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    width: auto;
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 100%;
    background: var(--color);
    color: var(--text-color);
    transform: translateY(-6px);
}

.front:hover {
    background-color: var(--hover-color);
}

.pushable:active .front {
    transform: translateY(-2px);
}
